<div class="container">

    <h2>Shopping Cart</h2>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cart$ | async">
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency:'EUR' }}</td>
            <td>{{ product.quantity }}</td>
            <td>
              <button class="btn btn-danger" (click)="removeFromCart(product.id)">Remove one unit</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td><strong>Total Quantity:</strong> {{ getTotalQuantity() | async }}</td>
            <td><strong>Total Price:</strong> {{ getTotalPrice() | async | currency:'EUR' }}</td>
            <td>
              <button class="btn btn-danger" (click)="clearCart()">Acheter</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  
  <h2 class="text-center">Tableau de produits </h2>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th (click)="sortBy = 'id'; applySort()">
          ID
          <ng-container *ngIf="sortBy === 'id' && !reverseSort; else downArrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-up-fill" viewBox="0 0 16 16">
              <path
                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
            </svg>
          </ng-container>
          <ng-template #downArrow>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
          </ng-template>
        </th>
        <th (click)="sortBy = 'name'; applySort()">
          Nom
          <ng-container *ngIf="sortBy === 'name' && !reverseSort; else downArrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-up-fill" viewBox="0 0 16 16">
              <path
                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
            </svg>
          </ng-container>
          <ng-template #downArrow>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
          </ng-template>
        </th>
        <th (click)="sortBy = 'description'; applySort()">
          Description
          <ng-container *ngIf="sortBy === 'description' && !reverseSort; else downArrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-up-fill" viewBox="0 0 16 16">
              <path
                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
            </svg>
          </ng-container>
          <ng-template #downArrow>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
          </ng-template>
        </th>
        <th (click)="sortBy = 'price'; applySort()">
          Prix
          <ng-container *ngIf="sortBy === 'price' && !reverseSort; else downArrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-up-fill" viewBox="0 0 16 16">
              <path
                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
            </svg>
          </ng-container>
          <ng-template #downArrow>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
          </ng-template>
        </th>
        <th> 
          <input [(ngModel)]="filterText" (input)="applyFilter()" placeholder="Filtrer par nom" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency:'EUR' }}</td>
        <td>
          <button (click)="addToCart(product)">Add to Cart</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>